{% extends "maintemp.html" %}

{% block content %}

<form action="{% url 'tasks:updatecategory' current_category.id %}" method="post">
     {% csrf_token %}
     <fieldset>
        <legend>Please change category name</legend>
        <label for="category_name">Category name</label><br>
        <input type="text" id="category_name" name="new_category" value="{{current_category.cat_name}}"><br>
     </fieldset>
     <p></p>
     <input class="btn btn-success" type="submit" value="Update Category">
</form>
{% endblock %}